<fieldset>
  <legend><%= l(:xmpp_label_settings) %></legend>
  <p>
    <label><%= l(:xmpp_label_jid) %></label>
    <%= text_field_tag "settings[jid]", @settings["jid"] %>
  </p>
  
  <p>
    <label><%= l(:xmpp_label_password) %></label>
    <%= password_field_tag "settings[jidpassword]", @settings["jidpassword"] %>
  </p>

  <p>
    <label><%= l(:xmpp_label_muc_room) %></label>
    <%= text_field_tag "settings[muc_room]", @settings["muc_room"] %>
  </p>

  <p>
    <label><%= l(:xmpp_label_muc_server) %></label>
    <%= text_field_tag "settings[muc_server]", @settings["muc_server"] %>
  </p>

  <p>
    <label><%= l(:xmpp_label_nickname) %></label>
    <%= text_field_tag "settings[nickname]", @settings["nickname"] %>
  </p>

</fieldset>
